<!--this is the header I can use on every page, but I might not use it, as I wil only make one function and not an entire apps-->

<header>
    <nav>
        <ul>
            <li><a href="#">Matching</a></li>
            <li><a href="#">Dishes</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Preferences</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
    </nav>
</header>