<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head');%>
</head>

<body>
    <!--previous page is a function that will go back to the previous page probably? -->
    <h1><form>
        <input type="button" value="!!" onclick="history.back()">
       </form><%=dishName%></h1>
    <h2><%=totalDishes%> dishes</h2>

    

</body>
</html>