<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head');%>
</head>

<body>
    <!-- a button to go back on the previous page that the user has been on -->
    <h1>
        <form>
            <input type="button" value="!!" onclick="history.back()">
        </form>
        <!--een img met een eventlistener-->
       <%=dishName%>
    </h1>

    

</body>
</html>