<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head');%>
</head>

<body>
    <!-- a button to go back on the previous page that the user has been on -->
    <h1>
        <!--
        <form>
            <input type="button" value="!!" onclick="history.back()">
        </form>
        -->
        <span id="backButton"><</span> 

        <!--een img met een eventlistener voor een back knop, dit mag in dit document-->
       <%=dishName%>
    </h1>

    <script src="/static/js/script.js"></script>
</body>
</html>