<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head');%>
  </head>

  <body>
    <h1><%=dishes%></h1>
    <!--for loop for oneofthedishes-->
    <% %>
    <h2>test</h2>
  </body>
</html>
